@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #b5c8b6;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: #332A2B;
}

div {
    margin: 20px;
}

.container {
    margin: auto;
    max-width: 700px;
}

img {
    display:block;
}

.header {
    display: flex;
    background: #000;
    border-radius: 10px;
}

.header p {
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
    color: rgb(195, 218, 239);
    padding-left: 10px;
}

.bio-block {
    /* border: 1px solid black; */
    background: #c6c892;
    border-radius: 10px;
    padding: 20px;
}

.friends-block {
    /* border: 1px solid black; */
    background: #c8a992;
    border-radius: 10px;
    padding: 15px 20px;
}

.facts-block {
    /* border: 1px solid black; */
    background: #c592c8;
    border-radius: 10px;
    padding: 20px;
}

.form {
    background: #c892ab;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.list {
    padding: 0px 25px;
    text-decoration: none;
}

.feedback-block {
    /* border: 1px solid black; */
    background: #c892ab;
    border-radius: 10px;
    padding: 10px;
}

.title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

.facts-block .title {
    margin-bottom: 10px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 5px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: #3a3c41;
  opacity: 0.8;
}

li {
    padding-bottom: 10px;
}

.form h2 {
    text-align: center;
    font-size: 22px;
}
  
.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(92, 92, 92);
    color: #000;
    padding: 15px 0 10px;
    resize: none;
    outline: none;
    font-family: inherit;
}

.form-group label {
    display: block;
}

.form-row .form-group {
    margin-right: 20px;
    width: 50%;
}

.btn {
    background: #000;
    padding: 15px 20px;
    color: rgb(241, 214, 214);
    border: none;
    font-family: inherit;
    cursor: pointer;
}
  
.btn:hover {
    opacity: 0.8;
}

#button {
    margin-left: 20px;
}

@media (max-width: 501px) {
    .container {
        color: rgb(87, 84, 84);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
    }

    img {
        position: fixed;
        right: 0px;
        bottom: 0px;
        width: 150px;
        height: 150px;
        opacity: 0.5;
    }

    .header p {
        padding-left: 10px;
        padding: 10px 0;
        font-weight: bold;
        color: rgb(195, 218, 239);
    }
}